/* DEFAULT */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #9e9e9e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CUSTOM */

/* COLOR */
#greenColor {
  background-color: #76BD72;
}

#darkGreyColor {
  color: #2e2e2e;
}

/* NAVIGATION BAR */
.navbar, 
.thead-bg{
  background-color: #76BD72;
}
.navbar-light .navbar-nav .nav-link {
  color: white ;
  font-weight: bold;
}
.nav-item :hover {
  color: white !important ;
}

.navbar-light .navbar-nav .active>.nav-link {
  color: white !important;
  font-size: 1.2rem;
  padding-top: 0.25rem;
}

/* TABLE CUSTOM */
.table-list {
  width: 80%;
}
.tableBackground {
  background-color: rgb(245 245 245);
  border-top-right-radius: 1.5rem !important;
  border-top-left-radius: 1.5rem !important;
}

.tableHeadBackground {
  top: +27px;
  z-index: 1 ;
  width: 85%;
  background-color: #76BD72 !important;
  height: 8vh
}

.headResult {
  background-color: #76BD72 !important;
}

.noBorder {
  border: 0 !important;
}

.search-form {
  width: 100vh;
}

.titleColWidth {
  width: 20;
}

/* MODAL */

.modalBackground {
  background-color: white;
  border-top-right-radius: 1.5rem !important;
  border-top-left-radius: 1.5rem !important;
}

.modalHeadBackground {
  top: +30px;
  z-index: 1 ;
  width: 85%;
  background-color: #76BD72 !important;
  min-height: 10vh;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-content {
  background-color: #fff0 !important;
  border: 0 !important;
}


/* HOVER */
#movieTitle :hover {
  color: #76BD72;
  text-shadow: 0px 2px 2px rgba(150, 150, 150, 0.6);
}


#btn-page {
  margin: 0.3rem 1.5rem;
  padding: 0 0.75rem;
}

#posterImage {
    max-width: auto;
    max-height: 60vh;
}

/* RESPONSIVE */
@media (max-width: 499.98px) { 
  h2 {
    font-size: 1.2rem !important;
  }
  
  .card-text {
    font-size: 10px;
  }

  .descBox {
    height: 35vh !important;
  }
  
  #inputRes {
    flex-wrap: inherit !important;
  }

  tbody {
    font-size: 10px ;
  }
  
  .form-control, #button-addon2{
    font-size: 0.6rem !important;
  }

  #inputRes #tableRes{
    flex-wrap: inherit !important;
  }

  thead {
    font-size: 12px !important;
  }

  .modal-title {
    font-size: 17px !important;
  }

  .tableHeadBackground {
    height: 7vh;
  }

  #posterImage {
    min-height: 35vh;
    max-height: auto;
  }

  .search-form {
    max-width: 100vh;
  }
  
  #btn-page {
    margin: 0.3rem 0rem;
    padding: 0;
    font-size: 12px;
  } 

  .navbar-brand {
    font-size: 1em !important;
  }

 }

@media (min-width: 500px) and (max-width: 599.98px) { 
  h2 {
    font-size: 1.5rem !important;
  }
  .card-text {
    font-size: 10px;
  }

  .descBox {
    height: 35vh !important;
  }
  
  #inputRes {
    flex-wrap: inherit !important;
  }

  tbody {
    font-size: 12px ;
  }
  
  .form-control, #button-addon2{
    font-size: 0.8rem !important;
  }

  #inputRes #tableRes{
    flex-wrap: inherit !important;
  }

  .modal-title {
    font-size: 20px !important;
  }

  thead {
    font-size: 15px !important;
  }

  .search-form {
    max-width: 100vh;
  }
  
  #btn-page {
    margin: 0.3rem 1.5rem;
    padding: 0;
    font-size: 14px;
  } 

 }

@media (min-width: 600px) and (max-width: 799.98px) { 
  
  /* .btn-primary, .card-text {
    font-size: 12px !important;
  } */
  .descBox {
    height: 35vh !important;
  }
  
  #inputRes {
    flex-wrap: inherit !important;
  }

  tbody {
    font-size: 15px;
  }

  thead {
    font-size: 18px !important;
  }
  
  #btn-page {
    margin: 0.3rem 1.5rem;
    padding: 0;
    font-size: 15px;
  } 
}

@media (min-width: 800px) and (max-width: 999.98px) {

  .descBox {
    height: 35vh !important;
  }

  .card-text {
    font-size: 15px;
  }

}
